@font-face {
	font-family: "San Francisco Pro";
	src: url("../fonts/San Francisco/Pro/SF-Pro-Text-Regular.otf");
}

:root {
	--background-color-default: rgb(242, 242, 246);
	--background-color-transparent: rgba(242, 242, 246, 0.22);
	--background-color-highlight: rgb(99, 160, 248);
	--foreground-color: rgb(255, 255, 255);
	--font-color-highlight: rgb(52, 120, 246);
	--font-color-input: rgb(120, 120, 122);
	--font-color-input-placeholder: rgb(180, 180, 180);

	--margin-default: 8px;
	--padding-default: 8px;
	--border-radius-default: 8px;

	--default-font: "San Francisco Pro", "Helvetica";
	--default-font-mono: 'Courier New';
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100vh;
	padding: var(--padding-default);

	background-color: var(--background-color-default);
}

* {
	font-family: var(--default-font);
	box-sizing: border-box;

	cursor: default;
	user-select: none;
}

:focus {
	outline: none;
}

::placeholder {
	color: #8A8A8D;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #8E8E92;
	border-radius: 5px;;
}

h1 {
	font-size: 40px;

	font-family: var(--default-font-mono);

	padding: var(--padding-default);
	padding-inline: calc(var(--padding-default) * 2);
}

h2, h3 {
	font-family: var(--default-font);

	margin-top: var(--margin-default);
	margin-bottom: 0;

	text-align: center;
}

.flex_row {
	display: flex;
	flex-flow: row;
}

.flex_col {
	display: flex;
	flex-flow: column;
}

.element {
	margin: var(--margin-default);

	border-radius: var(--border-radius-default);
	border-width: 0px;

	background-color: var(--foreground-color);
}

button {
	cursor: pointer;

	padding: 4px;
	margin: var(--margin-default);

	border: 0;

	background-color: transparent;
}

.button_icon {
	height: 24px;

	cursor: pointer;
}

i {
	font-size: 20px !important;
}

#main_flex {
	height: 100%;

	flex: 1 1 auto;

	display: flex;
	flex-flow: row;
}

#main_elements {
	flex: 1 1 auto;

	display: flex;
	flex-flow: column;
}

#preview_svg {
	margin: calc(var(--margin-default) * 1.5);
}

#main_window {
	flex: 1 1 auto;

	display: flex;
}

td {
	vertical-align: top;
}

input[type=text] {
	flex: 1 1 auto;

	width: 0;

	margin: var(--margin-default);

	font-size: 11pt;

	border-width: 0;

	background-color: transparent;

	cursor: text;

	color: var(--font-color-input);
}

input::placeholder {
	color: var(--font-color-input-placeholder);
}

input.datepicker {
	visibility: hidden !important;
	width: 0;

	position: absolute;
}

.datepicker_container {
	position: relative !important;

	top: 0 !important;
	left: 0 !important;

	margin: var(--margin-default) !important;

	border-width: 0 !important;

	box-shadow: inherit !important;
}

hr.seperator {
	border-color: var(--background-color-default);
	border-style: solid;
	border-width: 1px;

	margin: 0;
}

div.list {
	flex: 1 1 auto;
}

div.popup {
	display: none;

	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background-color: var(--background-color-transparent);
	backdrop-filter: blur(4px);
}

div.settings_container {
	margin: 128px auto;

	width: 40%;

	display: flex;
	flex-direction: column;
}

#extra_dates_element {
	flex: 1 1 auto;
}

#extra_dates_div_list {
	overflow-y: scroll;
}

#settings_reg_export_select_dummy:disabled {
	opacity: 1;
}

span.option {
	margin: 0;
	padding: var(--padding-default);

	font-size: 10pt;
}

span.option_top {
	border-top-left-radius: var(--border-radius-default);
	border-top-right-radius: var(--border-radius-default);
}

span.selected {
	background-color: var(--background-color-highlight);
}

div.setting_element {
	align-items: center;

	margin: var(--margin-default);
}

div.setting_element input {
	text-align: right;

	font-size: 16px;

	margin: 0;
}

div.setting_title_side {
	width: 50%;

	display: flex;
	flex-direction: row-reverse;
}

div.setting_corner {
	display: flex;
	flex-direction: column-reverse;
}

span.action_corner {
	color: var(--font-color-highlight);

	padding: var(--margin-default);

	cursor: pointer;
}

.settings_header {
	justify-content: space-between;
}

h2.settings_title {
	display: inline;

	margin-top: calc(var(--margin-default) * 2);
	margin-bottom: var(--margin-default);
}

span {
	font: inherit;
}

div.setting_element select {
	color: var(--font-color-input);

	font-size: 16px;

	border: none;

	background-color: transparent;

	cursor: pointer;

	text-align-last: right;

	padding-right: calc(var(--padding-default) * 0.5);

	transition: all 0.3s ease-out;
}

div.setting_element .controls {
	margin-left: auto;
}

div.setting_element select option {
	font-family: var(--default-font);
	font-size: 16px;
}

div#settings_reg_export_days_select {
	display: none;
}

div#settings_reg_export_days_select label {
	display: flex;

	align-items: center;
}

/* settings slider */
label.toggle {
	margin-inline: calc(var(--margin-default) * 0.5);
    position: relative;
    display: inline-block;
    width: calc(1em * 2.25);
	height: calc(1em * 1.25);
}

label.toggle input {
    display: none;
}

label.toggle .roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgb(233, 233, 234);
    display: block;
    transition: all 0.3s;
    border-radius: calc(1em * 1.25);
    cursor: pointer;

	padding: 2px;
}

label.toggle .roundbutton:before {
    /* position: absolute; */
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 100%;
    display: block;

    background-color: var(--foreground-color);
    transition: all 0.3s ease-out;
}

label.toggle input:checked + .roundbutton {
    background-color: rgb(100, 195, 101);
}

label.toggle input:checked + .roundbutton:before  {
    /* transform: translate(2.6rem, 0); */
	margin-left: calc(1.25em - 4px);
}

div.setting_element select.disabled {
	color: var(--font-color-input-placeholder);

	cursor: default;
}

div.setting_element div.controls span {
	display: flex;

	align-items: center;
}

/* checkcircle */
label.checkcircle div.checkcircle {
	cursor: pointer;

	margin: calc(var(--margin-default) / 2);
	margin-inline: var(--margin-default);

	width: 1em;
	height: 1em;

	border-radius: 50%;

	border: 1px solid rgb(196, 196, 198);
}

label.checkcircle div.checkcircle::before {
	position: relative;

	display: inline-block;

	content: "";
	border-radius: 100%;

	width: 0;
	height: 0;

	top: calc(50% + 1px);
	left: calc(50% + 1px);

	background-color: rgb(52, 120, 246);

	transition: all 0.1s ease-in;

	transform: translate(calc(-50% - 1px), calc(-50% - 1px));
}

label.checkcircle input:checked + div.checkcircle::before {
	width: 1em;
	height: 1em;
}

label.checkcircle input {
	display: none;
}